/* Базовые стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #E8D8C4;
    color: #561C24;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .screen-center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .auth-box {
    background-color: #fffaf3;
    width: 400px;
    border-radius: 15px;
    border: 2px solid #dcc6ab;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    padding: 30px;
  }
  
  .auth-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .auth-title {
    font-size: 1.8rem;
    color: #561C24;
  }
  
  .auth-description {
    color: #6D2932;
    font-size: 1rem;
  }
  
  .auth-tabs {
    display: flex;
    margin-bottom: 20px;
    background-color: #E8D8C4;
    padding: 0.2rem;
    border-radius: 0.3rem;
  }
  
  .tab-switcher {
    background-color: transparent;
    border: none;
    color: #561C24;
    font-weight: bold;
    cursor: pointer;
    width: 50%;
  }
  
  .active-tab {
    color: #6D2932;
    background-color: #fff;
    padding: 5px 30px;
    border-radius: 0.2rem;
  }
  
  .auth-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #dcc6ab;
    border-radius: 30px;
    font-size: 1rem;
  }
  
  .submit-btn {
    background-color: #561C24;
    color: #fff;
    border: none;
    padding: 12px 0;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .submit-btn:hover {
    background-color: #6D2932;
  }
  
  .radio-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .radio-group label {
    display: flex;
    align-items: center;
  }
  
  .radio-group input[type="radio"] {
    margin-right: 10px;
  }
  
  .toggle-text {
    text-align: center;
    margin-top: 15px;
  }
  
  .link-btn {
    background: none;
    border: none;
    color: #561C24;
    font-weight: bold;
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  }
  
  @media (max-width: 480px) {
  .auth-title {
    font-size: 1.5rem;
    padding: 8px 0;
  }
  .auth-box {
    width: 340px;
  }
  
}