* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fffbf6; /* Основной цвет фона */
  color: #1c2d56; /* Основной цвет текста */
  padding: 20px;
}

h1 {
  font-size: 26px;
  font-weight: bold;
  color: #1c2d56; /* Основной цвет заголовков */
  text-align: center;
  margin-bottom: 20px;
}

.job-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.job-card {
    background-color: #fff; /* Основной цвет */
    border-radius: 15px;
    border: 1px solid #efe6db; /* Основной цвет */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.3s ease;
  
}

.job-card:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.job-header {
  background-color: #fff;
  padding: 20px;
  padding-bottom: 10px;
}

.job-title {
  font-size: 20px;
  font-weight: bold;
  color: #1c2d56; 
}

.job-category {
  font-size: 15px;
  color: #1c2d56;  /* Тусклый текст */
  margin-top: 4px;
  font-weight: 600;
}

.job-content {
  padding: 0 20px;
}

.job-description {
    font-size: 16px;
    color: #000; 
    margin-bottom: 12px;
    font-weight: 600;
  }

.job-price {
  font-size: 16px;
  font-weight: bold;
  color: #1c2d56; 
}

.job-footer {
  padding: 20px;
  background-color: #fff; /* Фон футера карточки */
  text-align: center;
}

.apply-button {
  display: inline-block;
  width: 100%;
  padding: 12px;
  background-color: #1c2d56; /* Основной цвет */
  color: #fff; /* Основной цвет текста */
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-radius: 50px;
  text-decoration: none;
}

.apply-button:hover {
    background-color: #1c2d56; 
}

@media (min-width: 768px) {
  .job-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media (min-width: 1024px) {
  .job-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}